body{
background: url('foggy.jpg'); /* copyright free image, https://pixabay.com/en/fog-tree-landscape-nature-mist-2407344/ */
background-size: cover;
}
.ajac{
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  font-family: 'Cabin Sketch', cursive; /* Google api font */
}

ir ul{
  padding: 0;
  list-style-type: none;
  background-color: black;
  opacity: .7;
}

ir a{
  padding: 8px;
  text-decoration: none;
  color: #E1D4F6; /* whitesh, color-hex.com */
  font-weight: bold;
  display: block;
}

ir a:hover{
  background-color: #B22222; /* firebrick color, color-hex.com */
  transition-delay: 0.3s;
  -webkit-transform: scale(1.1);
}

@media screen and (min-width: 800px){
  ir ul{
    display: flex;
    justify-content: space-around;
}
  }

  .stat{
    color: #B22222;
    font-family: 'Scheherazade', serif; /* Google api font */
    font-weight: bold;
    margin: 0 auto;
    margin-top: 192px;
    margin-left: 302px;
  }
  .stat input{
    border: 1px solid #846;
    outline: none;
    border-radius: 6px;
    box-shadow: inset 0px -4px 38px #402; /* shadows the box area */
    display: block;
    padding: 14px;
    margin-bottom: 8px;
  }
  .stat textarea{
    height:88px;
    width: 282px;
    border-radius: 6px;
    box-shadow: inset 0px -4px 38px #400; /* shadows the box area */
    border: 1px solid #402;
  }
  .stat #login-btn{
    background: #E1D4A4;
    font-weight: bold;
  }
.fdwz{
  font-family: 'Cabin Sketch', cursive; /* Google api font */
  max-width: 960px;
  width: 100%;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 190px;
  font-size: 18px;
}
slick ul{
  list-style-type: none;
  background-color: black;
  opacity: .7;
  font-weight: bold;
  padding: 0;
}
slick a{
  text-decoration: none;
  color: #E1D4F6; /* whitesh, color-hex.com */
  display: block;
}
@media screen and (min-width: 800px){
  slick ul{
    display: flex;
    justify-content: space-around;
}
  }
